In [6]:
%load_ext autoreload
%autoreload 2

In [1]:
from boston_housing.skeleton import fib

In [3]:
fib(42)

267914296

In [4]:
from boston_housing.model import get_boston_df

df = get_boston_df()

In [5]:
df.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,price
17,0.78420,0.0,8.14,0.0,0.5380,5.990,81.7,4.2579,4.0,307.0,21.0,386.75,14.67,17.5
204,0.02009,95.0,2.68,0.0,0.4161,8.034,31.9,5.1180,4.0,224.0,14.7,390.55,2.88,50.0
324,0.34109,0.0,7.38,0.0,0.4930,6.415,40.1,4.7211,5.0,287.0,19.6,396.90,6.12,25.0
498,0.23912,0.0,9.69,0.0,0.5850,6.019,65.3,2.4091,6.0,391.0,19.2,396.90,12.92,21.2
67,0.05789,12.5,6.07,0.0,0.4090,5.878,21.4,6.4980,4.0,345.0,18.9,396.21,8.10,22.0